.graph-legend li span {
    display: block;
    width: 14px;
    height: 14px;
    border-radius: 7px;
    float: left;
    margin-top: 4px;
    margin-right: 8px;
}
.graph-legend {
    list-style: none;
    margin-top: 10px;
}
.graph-legend li {
    margin-bottom: 10px;
    width: 200px;
    display: inline-block;
    zoom: 1;
}

@media screen and (max-width: 30em) {
    .chart-container {
        position: relative;
        margin: auto;
        height: 40vh;
        width: 160vw;
    }

    .chart-container-tall {
        position: relative;
        margin: auto;
        height: 70vh;
        width: 160vw;
    }
}

@media screen and (min-width: 30em) and (max-width: 40em) {
    .chart-container {
        position: relative;
        margin: auto;
        height: 45vh;
        width: 120vw;
    }

    .chart-container-tall {
        position: relative;
        margin: auto;
        height: 90vh;
        width: 120vw;
    }
}

#map-container {
    display: inline-block;
    position: relative;
    width: 100%;
}
#map-padding {
    margin-top: 68%;
}
#world-map {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}
.datamaps-legend {
    position: absolute;
    top: 100%;
}


.center-project {
    margin: 0 auto;
}

.project-title {
    text-transform: none;
    margin: 10px auto 0;
    text-align: center;
}


.clemencharts {
    font-family:"Arvo",serif;
}
.clemencharts-front {
    color:#FF5959;
}
.clemencharts-back {
    color:#6EC5E9;
}
.recidiviz {
    font-family:'Squada One', sans-serif;
    color:#C82222;
}
.recidiviz-copy {
    color:#C82222;
}
.bg-recidiviz {
    background-color:#D6D4D3;
}


.bg-jessex-washed-blue {
    background-color:#EFFDF9;
}
.bg-jessex-washed-green {
    background-color:#F5FEF0;
}
.bg-jessex-washed-orange {
    background-color:#FFF5F1;
}
.bg-jessex-washed-purple {
    background-color:#F2F1FD;
}
.bg-jessex-washed-red {
    background-color:#FFF0F4;
}
.jessex-washed-red {
    color:#EFBDC9;
}
.jessex-dark-blue {
    color:#479F82;
}
.jessex-blue {
    color:#8BE0C4;
}
.jessex-light-blue {
    color:#AAEFD8;
}
.jessex-dark-red {
    color:#DB627E;
}
.jessex-red {
    color:#F899AF;
}
.jessex-light-red {
    color:#FBB2C3;
}
.bg-jessex-dark-blue {
    background-color:#479F82;
}
.bg-jessex-blue {
    background-color:#8BE0C4;
}
.bg-jessex-light-blue {
    background-color:#AAEFD8;
}
.bg-jessex-dark-red {
    background-color:#DB627E;
}
.bg-jessex-red {
    background-color:#F899AF;
}
.bg-jessex-light-red {
    background-color:#FBB2C3;
}



.bg-abyss {
    background-size: cover;
    background-position: center;
    background-image: url('//storage.googleapis.com/jessex-images/projects/abyss.png');
}
.bg-bye {
    background-size: cover;
    background-position: center;
    background-image: url('//storage.googleapis.com/jessex-images/projects/DSC_8944.jpg');
}
.bg-clementosh {
    background-size: cover;
    background-position: center;
    background-image: url('//storage.googleapis.com/jessex-images/clementosh/DSC_8772.jpg');
}
.bg-hembakat {
    background-size: cover;
    background-position: center;
    background-image: url('//storage.googleapis.com/jessex-images/projects/IMG_20170721_220355.jpg');
}
.bg-nursery {
    background-size: cover;
    background-position: center;
    background-image: url('//storage.googleapis.com/jessex-images/projects/IMG_20160127_091619.jpg');
}
.bg-visual {
    background-size: cover;
    background-position: center;
    background-image: url('//storage.googleapis.com/jessex-images/projects/sample.gif');
}
.bg-volumes {
    background-size: cover;
    background-position: center;
    background-image: url('//storage.googleapis.com/jessex-images/projects/volumes.jpg');
}
