html {
  background: #F3F3F3;
}
body {
  border-top: 10px solid #3D415D;
  font: 13px "Helvetica Neue", Helvetica, Arial, sans-serif;
  line-height: 1.4;
  color: #666;
  min-width: 960px;
}

#footer {
  margin: -6.0em 0.0em 3.0em 1.5em;
}

h1 {
  font-weight: normal;
  font-size: 20px;
  color: #333;
}

h2 {
  font-weight: normal;
  font-size: 18px;
  color: #0084B4;
}

#return-link {
  margin-top: 30px;
}

#return-link h3 {
  color: #0084B4; 
}

a:link, a:visited {
  color: #0084B4;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

#wrapper {
  position: relative;
  width: 960px;
  margin: 0 auto -4em;
  padding: 20px 0;
}

#main {
  height: 400px;
  text-align: center;
}

#main, div.header, li.repo {
  background: white;
  -moz-box-shadow:    0px 0px 5px 1px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.1);
  box-shadow:         0px 0px 5px 1px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}

#main h1 {
  margin: 35px 15px 0;
  font-size: 18pt;
}
#main h3 {
  font-size: 12pt;
}
#main h5 {
  font-size: 10pt;
}

#main p {
  margin: 0 10px 100px 10px;
  font-size: 11pt;
  line-height: 2;
}

#logo {
  width: 200px;
  height: 200px;
  margin: 10px 0 0 10px;
  background: url("/assets/img/scrambled.png");
  text-indent: -99999px;
  -webkit-border-radius: 50em;
  -moz-border-radius: 50em;
  border-radius: 50em;
}

#logo h1 {
  margin: 0;
}

div.header {
  height: 130px;
}

div.header h1, div.header p {
  margin: 10px 15px 0;
}

div.header h1 {
  margin-bottom: 10px;
}

#four {
  margin-left: auto;
  margin-right: auto;
  width: 50em;
  text-align: center;
  padding-top: 20px;
}

div.gosh {
  padding-bottom: 15px;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.fancy {
  position:relative;
  display:inline-block;
  font-size:0;
  line-height:0;
}

.fancy:after {
  position:absolute;
  top:1px;
  left:1px;
  bottom:1px;
  right:1px;
  border:1px solid rgba(255,255,255,0.5);
  outline:1px solid rgba(0,0,0,0.2);
  content:" ";
}

p.back {
  padding-top: 10px;
}

.footer {
  margin-top: 40px;
  margin-left: 250px;
  height: 4em;
}

#num-repos, #num-members, #num-gists, #num-posts {
  font-size: 14px;
  font-weight: bold;
  color: #0084b4;
  line-height: 15px;
}

li.repo {
  height: 190px;
}

li.repo > a {
  display: block;
  width: 100%;
  height: 100%;
  overflow: hidden;
  text-decoration: none;
  color: inherit;
}

li.repo a:hover {
  background: #eee;
}

li.repo h2, li.repo h3, li.repo p {
  margin: 10px 15px;
}

li.repo h2 {
  margin-top: 15px;
  margin-bottom: 2px;
  overflow: hidden;
}

li.repo h3 {
  font-size: 11px;
  margin-top: 2px;
  margin-bottom: 15px;
  color: #999;
}

.repo:after {
  content: '';
  position: absolute;
  right: 0;
  top: 0;
  width: 0;
  height: 0;
  border-bottom: 5px solid #000000;
  border-left: 110px solid #000000;
  border-right: 110px solid #000000;
  border-top: 5px solid #000000;
  pointer-events: none;
}

.repo.javascript:after {
  border-top-color: #FFCC44;
  border-left-color: #FFCC44;
  border-right-color: #FFCC44;
  border-bottom-color: #FFCC44;
}

.repo.coffeescript:after {
  border-top-color: #FF5599;
  border-left-color: #FF5599;
  border-right-color: #FF5599;
  border-bottom-color: #FF5599;
}

.repo.python:after {
  border-top-color: #663399;
  border-left-color: #663399;
  border-right-color: #663399;
  border-bottom-color: #663399;
}

.repo.java:after {
  border-top-color: #338899;
  border-left-color: #338899;
  border-right-color: #338899;
  border-bottom-color: #338899;
}

.repo.ruby:after {
  border-top-color: #CC2211;
  border-left-color: #CC2211;
  border-right-color: #CC2211;
  border-bottom-color: #CC2211;
}

.repo.scala:after {
  border-top-color: #33CC55;
  border-left-color: #33CC55;
  border-right-color: #33CC55;
  border-bottom-color: #33CC55;
}

.repo.scheme:after {
  border-top-color: #006611;
  border-left-color: #006611;
  border-right-color: #006611;
  border-bottom-color: #006611;
}

.repo.thought-experiment:after {
  border-top-color: #FFCC44;
  border-left-color: #FFCC44;
  border-right-color: #FFCC44;
  border-bottom-color: #FFCC44;
}

.repo.life:after {
  border-top-color: #FF5599;
  border-left-color: #FF5599;
  border-right-color: #FF5599;
  border-bottom-color: #FF5599;
}

.repo.thoughts:after {
  border-top-color: #663399;
  border-left-color: #663399;
  border-right-color: #663399;
  border-bottom-color: #663399;
}

.repo.philosophy:after {
  border-top-color: #338899;
  border-left-color: #338899;
  border-right-color: #338899;
  border-bottom-color: #338899;
}

.repo.captains-log:after {
  border-top-color: #CC2211;
  border-left-color: #CC2211;
  border-right-color: #CC2211;
  border-bottom-color: #CC2211;
}

.repo.travel:after {
  border-top-color: #33CC55;
  border-left-color: #33CC55;
  border-right-color: #33CC55;
  border-bottom-color: #33CC55;
}

.repo.stream-of-consciousness:after {
  border-top-color: #006611;
  border-left-color: #006611;
  border-right-color: #006611;
  border-bottom-color: #006611;
}

.repo.programming:after {
  border-top-color: #CC0077;
  border-left-color: #CC0077;
  border-right-color: #CC0077;
  border-bottom-color: #CC0077;
}

.repo.story:after {
  border-top-color: #00CCEE;
  border-left-color: #00CCEE;
  border-right-color: #00CCEE;
  border-bottom-color: #00CCEE;
}

.repo.rant:after {
  border-top-color: #CCFF11;
  border-left-color: #CCFF11;
  border-right-color: #CCFF11;
  border-bottom-color: #CCFF11;
}



#post {

}

  #post ul,
  #post ol {
    margin-left: 1.35em;
    list-style: disc outside none;
  }
  #post li {
    display: list-item;
  }
  
  #post p {
    padding-bottom: 14px;
  }
  
  #post h1 {
    margin-bottom: 6px;  
  }

  #post h2 {
    font-size: 13px;
    color: #666;
    margin-bottom: 30px;
  }
  
  #post h3 {
    color: #333;
  }
  
  #post em {
    font-style: italic;
  }
  
  #post strong, b {
    font-weight: bold;
  }
  
  #post blockquote {
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 50px;
    padding-left: 15px;
    border-left: 3px solid #ccc;
  }
  
  #post blockquote p {
    padding-bottom: 4px;
  }
  
#image-container {
  
}
    
  #image-container img {
    width: 100%;
    height: auto;
  }

#archive {

}

#front-page {

}

  #front-page h2 {
    font-size: 20px;
    color: #666;
  }
  
  #front-page p {
    padding-bottom: 14px;
  }

